form {
    text-align: center;
}
.search-wrapper {
    max-width: 40rem;
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 0.1rem solid #000;
    /* border-radius: 1rem; */
    overflow-x: hidden;
    padding-left: 1rem;
}
svg {
    width: 3.5rem;
    height: 100%;
}
#search {
    padding: 0.5rem;
    /* outline: none; */
    border: none;
    /* border-bottom: 0.1rem solid black; */
    outline: none;
}
main {
    width: 100%;
}
.drop {
    width: 100%;
    height: 20rem;
    background-color: #aff;
    display: grid;
    place-content: center;
}
input[type="file"] {
    cursor: pointer;
    height: 10rem;
    /* opacity: 0; */
    /* position: absolute; */
    width: 100%;
    /* left: 0px;
    top: 0px; */
    font-size: 0px;
}
