@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    font-size: 62.5%; /* 10px (default browser's 16px)*/
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #011627;
    color: #80cbc4; */
}

*,
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}

html,
body {
    height: 100%; /* Allows percentage-based heights in the application */
    font-size: 2rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit; /* By default not inherited */
    color: inherit;
    width: 100%;
    /* background-color: #0b2942; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit; /* Default not inherited */
    text-decoration: none;
}

body {
    padding: 0rem 1rem;
}
@media (max-width: 600px) {
}
